Principale : #3E606F
Autres : #91AA9D, #D1DBBD, #FCFFF5, #3E606F, #193441, #172329

body{
    background-color:#FCFFF5;
}

header{
    font-family: 'Open Sans', sans-serif;
    background-color:#FCFFF5; 
    display:flex;
    margin-bottom: 20px;
}
#logo{
    height: 4em;
    float: left;
}
header>p{
    float: right
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
header ul li ul{
    display: none;
}
header ul li:hover ul {
 display:block;
 }
header li:hover ul li {
 float:none;
 }
header li ul {
 position:absolute;
 }
header li {
    float: left;
  }
  
header li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
header li a:hover {
    background-color:#D1DBBD;
  }
header .right{
    float: right;
}
 
.chambre{
    margin-bottom: 30px;
}
.parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.parent .Ariane{
    display: flex;
}
    
h1, h2{
    font-family: 'Open Sans', sans-serif;
    font-size:32pt;
    text-align: center;
}

.enfant>img{
    height: 13em;
    width: auto;
}
.enfant p{
    font-size: 16pt;
    color: #FCFFF5;
}

.enfant{
  flex-basis:110px;
  display: inline;
  text-align:center;
  border:2px solid #193441;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #3E606F;

}
button{  
  border-radius: 12px;
  background-color: #3E606F;
  color: white;
  border: 2px solid #193441;
  margin-top: 20px;
}

hr{
    border: solid #193441;
    width: 20em;
}

.services{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.service-box {
    border:solid;
    flex-basis:110px;
    display: inline;
    text-align:center;
    border:2px solid #193441;
    padding: 10px;
    margin-bottom: 20px;


}
.service-box p{
    font-size: 16pt;
    text-align: center;
}
.service-box img{
    height: 10em;
}


footer{
    margin-top: 40px;
    background-color:#193441;
    height: 520px;
    text-align: center;
    align-content:  center;

 }
 footer img {
    height: 3em;
    width:auto;
 }
footer #logo {
    padding:10px;
    height: 4em;
}
footer iframe{
    padding: 10px;
}
.colonne1{
    float: left;
	width: 600px;
	margin:30px;
	background: #FCFFF5;
}
.colonne2{
    float:left;
    width: 350px;
	margin: 30px;
	background: #FCFFF5;
}
.colonne3{
	float:left;
	width: 400px;
	margin: 30px;
    padding-block: 20px;
	background: #FCFFF5;
}